@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "utilities";
@import "stars";


@font-face {
  font-family: "Pixel";
  src: url("../../static/fonts/smallpixel.woff2")   format("woff2");
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
  background: #f9fafb;
}

.splash-secondary {
  height: 20vh;
}

a {
  color: blue;
  box-shadow: none;
  transition: all;

  &:hover {
    color: #1a1027;
  }
}

hr {
  background-color: #e3d0ff;
}

.mr-auto.navbar-nav {
  margin: auto;
}

.main-nav-item {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;

  a {
    &:hover {
      color: #f9fafb;
    }
  }
}

.nav-item {
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  background-color: #f9fafb;
  border-radius: 3px;
  border: 1px solid;

  &:hover {
    background-color: #9c6ade;
  }
}

.icon-link {
  padding: 3px;
  border-radius: 3px;
  transition: all 0.1s;
  &:hover {
    transform: scale(1.05);
  }
}

.home-container {
  display: flex;
  flex-wrap: wrap;
}

.article-container {
  padding: 20px 80px;
  margin: 10px;
  background: white;
  border-radius: 3px;
  max-width: 800px;
}

@media only screen and (min-width: 550px) {
  .article-container {
    min-width: 600px;
  }
}

.article-container:hover h3 {
  transition: all 0s;
  text-decoration: underline;
  transform: scale(1.02);
}

@media screen and (max-width: 600px) {
  .article-container {
    padding: 20px 40px;
  }

  .splash {
    justify-content: center;
  }
}

@media screen and (max-width: 470px) {
  .article-container {
    padding: 20px 20px;
  }
}

.author {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 40px;
  margin: 4px;
  border-radius: 50%;
}

.light-text {
  color: #1a1027;
}

.small-text {
  font-size: 14px;
}

.tiny-text {
  font-size: 12px;
}

.grey-text {
  color: #9fa1a9;
}

.subscribe-input {
  -webkit-appearance: none;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 4px 8px;
  transition: all 0.3s;
  transition-timing-function: ease-in;
  font-family: Helvetica, sans-serif, sans-serif;
  height: 38px;
  box-shadow: 1px 1px 5px 0px #dedede;
}

.subscribe-input:focus {
  outline: none;
  border: 2px solid blue;
}

.subscribe-input::placeholder {
  color: #5f5f5f;
  font-size: 14px;
}

.subscribe-input:-webkit-autofill {
  -webkit-text-background-color: yellow !important;
}

.subscribe-submit {
  margin-left: 8px;
  border: none;
  background: #f3f3f3;
  border-radius: 3px;
  padding: 0px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
  transition-timing-function: ease-in;
  height: 38px;
}

.subscribe-submit:focus {
  outline: none;
}

.subscribe-submit:hover {
  background: #dadada;
  color: #272727;
}

.timer {
  text-align: center;
}

.timer .value {
  font-size: 40px;
  line-height: 50px;
}

.timer .text {
  color: #7b7b7b;
  font-weight: 300;
  font-size: 14px;
}


.x4y-sidebar {
  max-width: 250px;
  margin-left: 20px;
}

.keys-container {
  min-width: 200px;
  max-width: 200px;
  margin-bottom: 40px;
  padding: 5px 15px;
  background: #f1f1f1;
  border: 1px #ccc solid;
  border-radius: 3px;
}

.keys-container .key {
  margin-right: 5px;
  padding: 3px 6px;
	color: #fff;
	background: #333;
	font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace; font-weight: bold;
	border-radius: 2px;
	text-shadow: #000 0 1px 0;
}

.keys-container .explainer {
  color: #777;
  font-size: 12px;
}

.x4y-explaination {
  color: #777;
  font-size: 13px;
  margin-bottom: 10px;
}

.x4y-logo {
  width: 120px;
  height: 120px;
}

.x4y-for {
  font-size: 22px;
  margin-left: 100px;
  margin-right: 100px;
  color: #777;
}

.x4y-emoji {
  font-size: 120px;
}

@media only screen and (max-width: 800px) {
  .x4y-sidebar {
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .keys-container {
    margin-top: 40px;
  }

  .x4y-explaination {
    text-align: center;
  }

  .x4y-logo {
    width: 100px;
    height: 100px;
  }

  .x4y-for {
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .x4y-emoji {
    font-size: 100px;
  }
}

.survey-category {
  cursor: pointer;
}

.survey-category.image {
  border-radius: 50%;
  background: white;
  margin: 0px 20px;
}

.survey-category.title {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 6px;
  font-family: monospace;
}

.survey-category.large {
  width: 180px;
  height: 180px;
}

.survey-category.small {
  width: 140px;
  height: 140px;
}

.survey-container {
  display: flex;
  justify-content: center;
}

.survey-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.survey-explanation {
  color: #777;
  font-size: 13px;
}

.survey-sidebar {
  max-width: 240px;
  margin-left: 20px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.survey-close {
  padding: 2px 6px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
  font-family: sans-serif;
  transition: background .1s cubic-bezier(.64,0,.35,1);
}

.survey-close:hover {
  background-color: #212b361a;
}

.breadcrumbs-subtle {
  font-size: 13px;
  color: #808c96;
  padding: 2px 6px;
  font-family: sans-serif;
}

@media only screen and (max-width: 1100px) {
  .survey-category.large {
    width: 140px;
    height: 140px;
  }
  
  .survey-category.small {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 920px) {
  .survey-sidebar {
    max-width: 100%;
  }
  .survey-category.image {
    display: none;
  }
  .survey-category.title {
    text-align: left;
  }
  .survey-categories {
    flex-direction: column;
  }
  .survey-explanation {
    text-align: left;
  }
  .survey-container {
    flex-direction: column-reverse;
  }
  .survey-sidebar {
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 920px) {
  .survey-crm {
    margin-top: 60px;
  }
  .survey-comms {
    margin-top: 20px;
  }
  .survey-dev {
    margin-top: 20px;
    margin-right: 20px;
  }
  .survey-doc {
    margin-top: 80px;
  }
  .survey-mgmt {
    margin-top: 10px;
    margin-left: 40px;
  }
  .survey-item {
    transition: all 0.1s ease-in-out;
  }
  .survey-item:hover {
    transform: scale(1.08);
  }
}