@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "utilities";
@import "stars";


@font-face {
  font-family: "Pixel";
  src: url("../../static/fonts/smallpixel.woff2")   format("woff2");
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
  background: #f9fafb;
}

.splash-secondary {
  height: 20vh;
}

a {
  color: blue;
  box-shadow: none;
  transition: all;

  &:hover {
    color: #1a1027;
  }
}

hr {
  background-color: #e3d0ff;
}

.mr-auto.navbar-nav {
  margin: auto;
}

.main-nav-item {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;

  a {
    &:hover {
      color: #f9fafb;
    }
  }
}

.nav-item {
  min-width: 100px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  background-color: #f9fafb;
  border-radius: 3px;
  border: 1px solid;

  &:hover {
    background-color: #9c6ade;
  }
}

.icon-link {
  padding: 3px;
  border-radius: 3px;
  transition: all 0.1s;
  &:hover {
    transform: scale(1.05);
  }
}

.article-container {
  padding: 20px 80px;
  margin: 10px;
  background: white;
  border-radius: 3px;
  max-width: 800px;
}

.article-container:hover h3 {
  transition: all 0s;
  text-decoration: underline;
  transform: scale(1.02);
}

@media screen and (max-width: 600px) {
  .article-container {
    padding: 20px 40px;
  }

  .splash {
    justify-content: center;
  }
}

@media screen and (max-width: 470px) {
  .article-container {
    padding: 20px 20px;
  }
}

.author {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 40px;
  margin: 4px;
  border-radius: 50%;
}

.light-text {
  color: #1a1027;
}

.small-text {
  font-size: 14px;
}

.tiny-text {
  font-size: 12px;
}

.grey-text {
  color: #9fa1a9;
}